﻿@model OutputModel
<div class="container">
    <div class="row">
        <div class="col">
            <!-- 1 of 2 -->
            <h2>K-Mean</h2>
            @{ int countKMeanCluster = 0;
                int documentCount = 0;
            }

            <div class="read-more-container">
                <div class="cluster-container">

                    @foreach (var cluster in Model.KmeanCluster)
                    {
                        int countFileInCluster = 0;
                        countKMeanCluster++;
                        String clusterHeading = "Cluster:" + countKMeanCluster;
                        documentCount = cluster.GroupedDocument.Count();
                        String documentCountString = "Document count:" + documentCount;
                        //String meanOfCluster = "Mean of cluster: " + cluster.TotalValue;
                        <div id="accordion">

                            <div class="card">
                                <div class="card-header cluster1" id="headingOne">
                                    <h5 class="mb-0">
                                        <button class="btn btn-link cluster1">
                                            @clusterHeading
                                        </button>


                                        <p class="ml-3">@documentCountString</p>
                                    </h5>
                                </div>
                                <div class="cluster-text">

                                    @foreach (var document in cluster.GroupedDocument)
                                    {
                                        countFileInCluster++;
                                        String fileHeading = "File:" + countFileInCluster;


                                        <div class="card-body">
                                            <p>@fileHeading</p>
                                            <div class="container">
                                                @{
                                                    if (document.Content != null && document.Content.Length > 100)
                                                    {
                                                        <p>
                                                            @document.Content.Substring(0, 100)
                                                            <span class="read-more-text">@document.Content.Substring(100)</span>
                                                        </p>
                                                        <span class="read-more-btn">Read More...</span>
                                                    }
                                                    if (document.Content != null && document.Content.Length < 100)
                                                    {
                                                        <p>@document.Content</p>
                                                    }
                                                }
                                            </div>
                                        </div>

                                    }
                                </div>
                            </div>
                        </div>

                    }
                </div>
            </div>
            <p>Time of execution: @Model.watchKmean ms</p>
            <p>Total mean: @Model.totalMeanKmean</p>
        </div>
        <div class="col">
            <!-- 1 of 2 -->
            <h2>K-Medoid</h2>
            @{ int countKMedoidCluster = 0;
                int documentsCount = 0;
            }

            <div class="read-more-container2">
                <div class="cluster-container2">

                    @foreach (var cluster in Model.KmedoidCluster)
                    {
                        int countFileInCluster = 0;
                        countKMedoidCluster++;
                        String clusterHeading = "Cluster:" + countKMedoidCluster;
                        documentsCount = cluster.GroupedDocument.Count();
                        String documentCountString = "Document count:" + documentsCount;
                        //String meanOfCluster = "Mean of cluster: " + cluster.TotalValue;
                        <div id="accordion">

                            <div class="card">
                                <div class="card-header cluster2" id="headingOne">
                                    <h5 class="mb-0">
                                        <button class="btn btn-link cluster2">
                                            @clusterHeading
                                        </button>


                                        <p class="ml-3">@documentCountString</p>
                                    </h5>
                                </div>
                                <div class="cluster-text2">

                                    @foreach (var document in cluster.GroupedDocument)
                                    {
                                        countFileInCluster++;
                                        String fileHeading = "File:" + countFileInCluster;


                                        <div class="card-body">
                                            <p>@fileHeading</p>
                                            <div class="container">
                                                @{
                                                    if (document.Content != null && document.Content.Length > 100)
                                                    {
                                                        <p>
                                                            @document.Content.Substring(0, 100)
                                                            <span class="read-more-text2">@document.Content.Substring(100)</span>
                                                        </p>
                                                        <span class="read-more-btn2">Read More...</span>
                                                    }
                                                    if (document.Content != null && document.Content.Length < 100)
                                                    {
                                                        <p>@document.Content</p>
                                                    }
                                                }
                                            </div>
                                        </div>
                                    }
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
           
             <p>Time of execution: @Model.watchKmedoid ms</p>
        
            <p>Total cost: @Model.totalDistanceKmedoid</p>
        </div>        
    </div>

</div>
<script>
    const parentContainer =  document.querySelector('.read-more-container');
    parentContainer.addEventListener('click', event=>{
        const current = event.target;
        const isReadMoreBtn = current.className.includes('read-more-btn');
        if(!isReadMoreBtn) return;
        const currentText = event.target.parentNode.querySelector('.read-more-text');
        currentText.classList.toggle('read-more-text--show');
        current.textContent = current.textContent.includes('Read More') ? "Read Less" : "Read More...";
    })
    const parentContainer2 = document.querySelector('.read-more-container2');
    parentContainer2.addEventListener('click', event => {
        const current = event.target;
        const isReadMoreBtn = current.className.includes('read-more-btn2');
        if (!isReadMoreBtn) return;
        const currentText = event.target.parentNode.querySelector('.read-more-text2');
        currentText.classList.toggle('read-more-text--show');
        current.textContent = current.textContent.includes('Read More') ? "Read Less" : "Read More...";
    })

    const parentCluster = document.querySelector('.cluster-container');
    
    parentCluster.addEventListener('click', event => {
        
        const currentEvent = event.target;
        console.log(currentEvent);
        const isReadBtn = currentEvent.className.includes('cluster1');
        console.log(isReadBtn);
        if (!isReadBtn) return;

        const currentCluster = event.target.parentNode.querySelector('.cluster-text ');
    
        currentCluster.classList.toggle('cluster--show');


    })
    const parentCluster2 = document.querySelector('.cluster-container2');

    parentCluster2.addEventListener('click', event => {

        const currentEvent = event.target;
        console.log(currentEvent);
        const isReadBtn = currentEvent.className.includes('cluster2');
        console.log(isReadBtn);
        if (!isReadBtn) return;

        const currentCluster = event.target.parentNode.querySelector('.cluster-text2 ');

        currentCluster.classList.toggle('cluster--show');


    })
</script>
